/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 Jun 2019, 11:07:50 AM
    Author     : Shitl
*/
.body{
    background-image: url("cookies.png");
    background-size: auto;
    background-size: 900px 700px;
    background-repeat: no-repeat;
    background-position: top;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

li {
  float: left;
}

li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}